.hero-ghost {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    pointer-events:none;
    /*border:5px solid silver;*/
    .hero-source, .hero-target {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        transform-origin: 0 0;
    }
    &.animate {
        transition: all .75s ease-in-out;
        .hero-source {
            /*transition: all .75s ease-in-out,  opacity .75s linear;*/
            transition: all .75s ease-in-out;
        }
        .hero-target {
            transition: all .75s ease-in-out;
        }
    }
    /**/
}