div(common-prototype-directive='')
  
  //- .background
  .container
    .panel.panel-default
      .panel-body
        //- .thumb
          //- img.animated.upDown(src='/assets/rangers/u200e-at-32d-thum-140.png')
        .thumb-wrap 
          .thumb
            img.animated.upDown(src='/assets/rangers/u200e-at-32d-thum-140.png')
          //- img.animated.upDown(src='/assets/rangers/u109e-edward-thum-140.png')
        .card-wrap
          .card
          .card
          .card
          .card
          .card
          .card
          .card

    .panel.panel-default
      .panel-body
        .thumb-wrap 
          .thumb
            img.animated.upDown(src='/assets/rangers/u109e-edward-thum-140.png')
          .popover-wrap
            .popover.right
              .arrow
              //- h3.popover-title Popover right
              .popover-content
                p(style='margin:0')
                  | 레인저스 마이티!

        .card-wrap
          .card
          .card
          .card
          .card
          .card
          .card
          .card
            
    .panel.panel-default
      .panel-body 
        .thumb-wrap 
          .thumb
            img.animated.upDown(src='/assets/rangers/u092e-honey-thum-140.png')
          //- img.animated.upDown(src='/assets/rangers/u109e-edward-thum-140.png')
        .card-wrap
          .card
          .card
          .card
          .card
          .card
          .card
          .card

    .panel.panel-default
      .panel-body
        .thumb-wrap 
          .thumb
            img.animated.upDown(src='/assets/rangers/u123e-brown-thum-140.png')
        .card-wrap
          .card
          .card
          .card
          .card
          .card
          .card
          .card
    .panel.panel-default
      .panel-body


        .thumb-wrap 
          .thumb
            img.animated.upDown(src='/assets/rangers/u099e-alice-thum-140.png')
          .popover-wrap
            .popover.right
              .arrow
              //- h3.popover-title Popover right
              .popover-content
                p(style='margin:0')
                  a(href='http://yobi.navercorp.com/engineering/discuss/issue/58', target='_blank') CAMP4
                  | &nbsp;에 관심이 있으신 분 계신가요?

        .card-wrap
          .card
          .card
          .card
          .card
          .card
          .card
          .card



        
  //- canvas
  //- .container
    h3 prototype
    button.btn.btn-default(ng-click='vm.updateBackground()')
      | update background
    .panel.panel-default(style='background-color:rgba(255,255,255,.4)')
      .panel-heading
        | sample test
      .panel-body
        | CONTENT HERE
    .panel.panel-default
      .panel-body
        | CONTENT HERE


        //- div(style='transform:scale(.75);width:100px;height:100px;')
          img.animated.upDown(src='/assets/rangers/u200e-at-32d-thum-140.png')
    //- div(style='transform:scale(.5)')
      img.animated.upDown(src='/assets/rangers/u109e-edward-thum-140.png')
    //- div(style='transform:scale(.5)')
      img.animated.upDown(src='/assets/rangers/u092e-honey-thum-140.png')