div(game-sample-controller='')
  .container
    h1 sample controller
    form
      input.form-control(ng-model='vm.message')
      button.btn.btn-default(ng-click='vm.submit()') submit
    //- br
    //- a.btn.btn-default(href='', ui-sref='lounge') GO TO LOUNGE
    //- hr
    //- img.hero(hero='', hero-id='ranger', src='/assets/rangers/u029e-renee-thum-140.png', width='100')
    //- loginbox(data-user='vm.user', data-character='vm.ranger')
    //- .pull-right
    //- h1 prev : {{ prevState }}
    //- h1 curr : {{ vm.state.name }} , {{ currState }}
    //- h1 next : {{ nextState }}
    //- hr
    //- h1 {{ vm.state.name }} from-view-{{ fromState }} to-view-{{ toState }}
