div(front-controller='', tringlify='', tyle='background-image:url(/assets/stages/{{ vm.stage }})')
  .container
    br
    a.btn.btn-default(href='', ui-sref='lounge') GO TO LOUNGE
    //- .pull-right
    h1 prev : {{ prevState }}
    h1 curr : {{ vm.state.name }} , {{ currState }}
    h1 next : {{ nextState }}
    hr
    h1 {{ vm.state.name }} from-view-{{ fromState }} to-view-{{ toState }}
