div(lobby2-controller='')  
  //- header(data-header='')
  .container
    br
    br

    hr
    //- img(hero='me2', src='/assets/rangers/u012e-xan-thum-140.png', width='200', height='259')
    //- img(hero='me2', src='/assets/rangers/u012e-xan-thum-140.png', width='200', height='259')
    //- img(hero='me2', src='/assets/rangers/u012e-xan-thum-140.png', width='100', height='130')
    br
    h3 hero test

    div(hero='', hero-id='me') wow after
    .pull-right
      //- img(hero='me', src='/assets/rangers/u020e-brown-thum-140.png', width='300', height='383')
      //- img(hero='me', src='/assets/rangers/u018e-brown-thum-140.png', width='200')
      //- h2(hero='me', style='display:inline-block') hero action
      //- simple-chat
      img(hero='', hero-id='ranger', src='/assets/rangers/u029e-renee-thum-140.png', width='150')
      //- img(hero='', hero-id='ranger', src='/assets/rangers/u32-brown-thum-140.png', width='100')
  